<mat-card class="login-card">
    <mat-form-field appearance="fill">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput type="email" placeholder="Entrez votre e-mail" required>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" placeholder="Entrez votre mot de passe" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" routerLink="/product">Se connecter</button>
  
    <div class="options">
      <a class="link" routerLink="/forgot-password">Mot de passe oublié ?</a>
      <a class="link" routerLink="/signup">Créer un compte</a>
    </div>
  </mat-card>
  
 